
@font-face {
    font-family: 'iranSans';
    src: url(../font/IRANSansXFaNum-Regular.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iranSans';
}
body{
    width: 100%;
    min-height: 100vh;
    direction: rtl;
    background-color: rgb(197, 217, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}
input::placeholder{
    font-size: 13px;
}
.container{
    position: relative;
    max-width: 800px;
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg , rgb(117, 169, 204) , rgb(41, 136, 165));
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.container.register::before{
    transform: translateX(0);
}
.forms{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    padding: 20px;
}
form{
    width: 100%;
    padding: 10px;
}
form h2{
    font-size: 22px;
    color: #484848;
    font-weight: 500;
}
.input-field{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(100px ,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
form label{
    font-size: 16px;
    color: #777;
}
.input-field input{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 6px;
    background-color: #f4f0ff;
    border: none;
    outline: none;
    padding: 10px;
    color:#333;
}
.button{
    width: 100%;
    height: 40px;
}
.register-btn ,
.login-btn{
    width: 100%;
    height: 100%;
    background-color: rgb(106, 150, 189);
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}
.register-btn:hover ,
.login-btn:hover{
    background-color: rgb(78, 129, 174);
}
.panel-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.panel-container .panel{
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 240px;
    padding: 0 10px;
    text-align: center;

}
.content{
    color: #fff;
    transition: 1.2s;
}
.content h4{
    font-size: 25px;
    font-weight: 500;
}
.content p{
    font-size: 17px;
    font-weight: 500;
    opacity: .8;
    margin: 10px 0;
}
.content .button-text{
    margin-top: 40px;
}
.content .button-text span{
    opacity: .8;
    font-size: 16px;
}
.content .panel-btn{
    width: 120px;
    height: 40px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.content .panel-btn:hover{
    background: rgba(255, 255, 255, .5);
}
.panel img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    transition: 1.2s;
}
.container .left-panel{
    opacity: 0;
    z-index: -100;
}
.container.register .left-panel{
    opacity: 1;
    z-index: 10;
}
.container .right-panel{
    opacity: 1;
    z-index: 10;
}
.container.register .right-panel{
    opacity: 0;
    z-index: -100;
}
.left-panel img ,
.left-panel .content{
    transform: translateX(-200%);
}
.right-panel img ,
.right-panel .content{
    transform: translateX(0);
}
.container.register .right-panel img ,
.container.register .right-panel .content{
    transform: translateX(200%);
}

.container.register .left-panel img ,
.container.register .left-panel .content{
    transform: translateX(0);
}
